# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info